#videoplayer {
  position: fixed;
  left: 0;
  top: 5rem;
  width: 100%;
  height: calc(100% - 5rem);
  background: var(--background);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;

  transition: all 0.5s cubic-bezier(0.2, 0.9, 0.1, 1);
  transform: translateY(100%);
  visibility: hidden;
}

#videoplayer.visible {
  transform: translateY(0);
  visibility: visible;
}

#videoplayer > .scroll-content {
  display: flex;
  flex-direction: column;
}

.videoplayer-col {
  width: 100%;
}

.video-container {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 16 / 9;
  position: relative;
}

.video-container > video {
  width: 100%;
  height: 100%;
  position: absolute;
}

@media screen and (prefers-color-scheme: light) {
  .video-container > #videoplayer-element-ambient {
    display: none;
  }
}

@media screen and (prefers-color-scheme: dark) {
  .video-container > #videoplayer-element-ambient {
    filter: blur(25vw);
  }
}

.video-container > #controls {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.3));
  transition: all 0.5s cubic-bezier(0.2, 0.9, 0.1, 1);
  opacity: 0;
  visibility: hidden;
}

.video-container > #controls:hover,
.video-container > #controls:active,
.video-container > #controls.visible {
  opacity: 1;
  visibility: visible;
}

.video-container:fullscreen > #controls {
  margin: 1.5rem;
  padding: 1.5rem;
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  min-width: 29rem;
  max-width: 60rem;
  background: rgba(51,51,51,0.5);
  backdrop-filter: saturate(180%) blur(20px);
  border-radius: 1.5rem;
  box-shadow: 0 1.5rem 3rem rgba(0,0,0,0.3);
}

.video-container > #controls .buttons {
  padding: 0 1rem;
  box-sizing: border-box;
  width: 100%;
  height: 4rem;
  display: flex;
}

.video-container > #controls .buttons button {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: #fff;
  padding: 0 1rem;
  box-sizing: border-box;
}

.video-container > #controls .buttons button[data-icon]::before {
  font-size: 2rem;
  position: static;
  margin: 0;
  width: 2rem;
  height: 4rem;
  line-height: 4rem;
}

.video-container > #controls .buttons #controls-volume {
  max-width: 20rem;
  margin: 0.25rem 0.5rem;
  margin-inline-start: 0;
  margin-inline-end: 1rem;
  flex: 1;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.video-container > #controls .buttons:not(:hover) #controls-volume {
  max-width: 0;
  opacity: 0;
}

.video-container > #controls .buttons #controls-volume::-moz-range-track {
  background: rgba(0,0,0,0.3);
}

.video-container > #controls #controls-current-time {
  height: 0.4rem;
  width: 100%;
  margin: 1rem 0 0;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.video-container > #controls #controls-current-time::-moz-range-track,
.video-container > #controls #controls-current-time::-moz-range-progress,
.video-container > #controls #controls-current-time::-moz-range-thumb {
  transition: all 0.5s ease;
}

.video-container:fullscreen > #controls #controls-current-time {
  width: calc(100% - 2rem);
  margin: 1rem;
  height: 0.5rem;
}

.video-container > #controls #controls-current-time::-moz-range-track {
  background: rgba(0,0,0,0.3);
  height: 0.4rem;
  border-radius: 0.2rem;
}

.video-container > #controls #controls-current-time::-moz-range-progress {
  height: 0.4rem;
  border-radius: 0.2rem;
}

.video-container > #controls #controls-current-time::-moz-range-thumb {
  background: var(--text-color);
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.3);
}

.video-container > #controls .buttons #controls-time {
  font-size: 1.4rem;
  height: 4rem;
  line-height: 4rem;
  margin-inline-end: auto;
}

.video-container > #controls .buttons label.pack-switch {
  margin: -0.5rem 1rem;
  width: 6rem;
}

#videoplayer-title {
  font-size: 2.4rem;
  font-weight: normal;
  margin: 1rem 1rem 0;
  color: var(--text-color);
  position: relative;
  z-index: 1;
}

#videoplayer-stats {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0 1rem;
  color: var(--text-color);
  opacity: 0.5;
  position: relative;
  z-index: 1;
  display: block;
}

.videoplayer-buttons {
  display: flex;
  height: 4rem;
  margin: 0.5rem 0 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  width: 100%;
}

.videoplayer-buttons menu {
  margin: 0;
  margin-inline-start: auto;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.videoplayer-buttons menu button {
  width: unset;
  min-width: max-content;
}

.author-figure {
  height: 4rem;
  margin: 0;
  padding: 0;
  display: flex;
}

.author-figure > img {
  width: 4rem;
  min-width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  background: var(--background-plus);
  margin-inline-end: 1rem;
}

.author-figure > figcaption {
  width: 100%;
  height: 4rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.author-figure > figcaption > span {
  width: 100%;
  height: 1.8rem;
  font-size: 1.4rem;
  opacity: 0.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.author-figure > figcaption > span:first-child {
  opacity: 1;
  font-size: 1.6rem;
  height: 2.2rem;
}

.author-figure > menu {
  height: 4rem;
  margin: 0;
  margin-inline-start: 1rem;
  padding: 0;
  display: flex;
  gap: 1rem;
}

#videoplayer-description {
  width: calc(100% - 2rem);
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  background: var(--background-plus);
  border-radius: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
  margin: 1rem;
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--text-color);
  position: relative;
  z-index: 1;
}

#recommended {
  position: relative;
  z-index: 1;
}

/* Picture in picture */
#videoplayer.pip {
  top: 100%;
  transform: translateY(-100%);
  width: 40rem;
  border-radius: 1.5rem 1.5rem 0 0;
  background: var(--background-plus);
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.3);
  height: unset;
}
html[dir="ltr"] #videoplayer.pip {
  left: calc(100% - 41rem);
}
html[dir="rtl"] #videoplayer.pip {
  left: 1rem;
}

#videoplayer-like-button.enabled::before {
  content: 'liked';
}

#videoplayer-dislike-button.enabled::before {
  content: 'disliked';
}

/* Picture in picture */
#videoplayer.pip .videoplayer-col:first-child {
  padding: 0 0 1rem;
  width: 100%;
}

#videoplayer.pip .videoplayer-col:not(:first-child) {
  display: none;
}

#videoplayer.pip .video-container #controls-fullscreen-button,
#videoplayer.pip .video-container #controls-options-button,
#videoplayer.pip .video-container label.pack-switch {
  display: none;
}

#videoplayer.pip .video-container > #controls .buttons #controls-volume {
  max-width: 10rem;
}

#videoplayer.pip .video-container > #controls .buttons:not(:hover) #controls-volume {
  max-width: 0;
}

#videoplayer.pip #videoplayer-title {
  font-size: 1.8rem;
}

#videoplayer.pip #videoplayer-description,
#videoplayer.pip .videoplayer-buttons > menu {
  display: none;
}

#videoplayer.pip .videoplayer-buttons > .author-figure {
  margin: 0;
  flex-grow: 1;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  #videoplayer,
  #videoplayer > .scroll-content {
    flex-direction: row;
  }

  .videoplayer-col {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .videoplayer-col:first-child {
    padding-inline-start: 5vw;
    padding-inline-end: 0.75rem;
  }

  .videoplayer-col:last-child {
    min-width: 32rem;
    max-width: 32rem;
    padding-inline-start: 0.75rem;
    padding-inline-end: 5vw;
  }
}